* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 80vw;
    height: 80vh;
    margin: auto;
}

#container > div {
    display: inline-block;
    flex-grow: 4;
    width:25%;
    height: 25%;
    /*background-color: red;*/
    border: 2px solid white;
}

.changedColor {
    background-color: blue;
}

button {
    display: flex;
    flex-direction: column;
    margin: 5px auto 5px auto;
    width: 10vw;
    height: 5vh;
    text-align: justify;
}